<h2>GOSEEK-Challenge</h2>

<p>
    We are organizing the GOSEEK competition, where participants create an RL agent that combines perception and high-level decision-making to search for objects placed within complex indoor environments from a Unity-based simulator. Simply put: like PACMAN, but in a realistic scene and with realistic perception capabilities. Several data modalities will be provided from both the simulator ground truth and a perception pipeline (e.g., images, depth, agent location) to enable the participants to focus on the RL/search aspects.
</p>
 

<div align="center"> <iframe width="885" height="500" src="https://www.youtube.com/embed/KXTag0xsg28" allowfullscreen=""></iframe> </div> 

<p>
    See our <a href="https://mit-spark.github.io/PAL-ICRA2020/" rel="nofollow">instructions (TODO: fix link)</a> for further details on how to participate.
</p>

