<p>
    We are organizing the GOSEEK competition, where participants create an RL agent that combines perception and high-level decision-making to search for objects placed within complex indoor environments from a Unity-based simulator. Simply put: like PACMAN, but in a realistic scene and with realistic perception capabilities. Several data modalities will be provided from both the simulator ground truth and a perception pipeline (e.g., images, depth, agent location) to enable the participants to focus on the RL/search aspects.
</p>

<p>
    See our <a href="https://github.com/MIT-TESSE/goseek-challenge" rel="nofollow">instructions</a> for further details on how to participate.
</p>
